body {
    color: #333;
}

a {
    text-decoration: none;
    color: #1b98f8;
}

#layout {
    padding-left: 155px;
}

#nav {
    border-right: 5px solid rgb(55, 60, 90);
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    margin-left: -155px;
    width: 150px;
    background: rgb(37, 42, 58);
    text-align: center;
    padding: 2em 0;
}

.primary-button,
.secondary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.primary-button {
    color: #fff;
    background: #1b98f8;
    margin: 1em 0;
}
.secondary-button {
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
}

#nav .pure-menu {
    background: transparent;
    border: none;
    text-align: left;
}
#nav .pure-menu a:hover,
#nav .pure-menu a:focus {
    background: rgb(55, 60, 90);
}

#nav .pure-menu a {
    color: #fff;
    margin-left: 0.5em;
}

#nav .pure-menu-heading {
    border-bottom: none;
    font-size:110%;
    color: rgb(75, 113, 151);
}

#nav .nav-menu-button {
    display: none;
}

.content-body {
    padding: 1em 2em;
}

.content-area {
	margin-bottom: 1em;
}

.content-box {
	margin-bottom: 1em;
	border: 1px solid #ddd;
}

.content-area-usable {
	padding: 1em;
}

.problem-footer {
	line-height: 30px;
}

.problem-statistics {
	color: #666;
	float: left;
}

.problem-solve-button {
	float: right;
}
