@(problem: Problem)

@main("Training Area - " ++ problem.id.toString) {
	<div class="content-area pure-u-1">
		<form class="pure-form" action="@routes.Problem.submit(problem.id)" method="post">
    		<fieldset>
        		<legend>@problem.name</legend>
				<label for="answer">Answer</label>
        		<input type="text" name="value" placeholder="Answer" required>
        		<button type="submit" class="pure-button pure-button-primary">Submit</button>
        	</fieldset>
		</form>
		@problem.statement
	</div>
}
